
<p>
<strong>Task title<strong>
<%= @task.title %>
</p>


<p>
  <strong>Task description</strong>
  <%= @task.description %>
</p>


<p>
  <strong>Owner:</strong>
  <%= @task.owner %>
</p>

<%= link_to 'My tasks', tasks_path %>
<%= link_to 'Edit', edit_task_path(@task) %>




