<h1> Your task: </h1>

<p>
<strong>Task title</strong>
<%= @task.title %>
</p>

<p>
  <strong>Task description</strong>
  <%= @task.description %>
</p>


<p>
  <strong>Owner:</strong>
  <%= @task.owner %>
</p>

<h2>Comments posted to this task: </h2>
<% @task.comments.each do |comment| %>

<%= render @task.comments %>

<% end %>

<br>

<h2> Add comment: <h2>

<%= render "comments/form" %>

<br>
<%= link_to 'My tasks', tasks_path %>
<%= link_to 'Edit', edit_task_path(@task) %>





